# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
SARA/

# Entornos y Secretos
.env
*.pem
*.key

# Bases de Datos Temporales y Pesadas
data/*.sqlite3
data/*-wal
data/*-shm
data/*.db
chroma_db/

# ==========================================
# GOBIERNO DE DATOS: Cascarones de Directorios
# Ignoramos todo el contenido, excepto el archivo .gitkeep
# ==========================================
data/01_raw_icesi/*
!data/01_raw_icesi/.gitkeep

data/02_raw_secop/*
!data/02_raw_secop/.gitkeep

data/03_structured/*
!data/03_structured/.gitkeep

data/04_vector_db/*
!data/04_vector_db/.gitkeep

data/05_propuestas/*
!data/05_propuestas/.gitkeep

data/04_outputs/*
!data/04_outputs/.gitkeep

# ==========================================
# CONFIDENCIALIDAD ESTRICTA (Propiedad Intelectual)
# ==========================================
data/04_outputs/golden_truth.json
data/04_outputs/comparativo_resultados.csv

# Logs e IDEs
logs/
*.log
nohup.out
.idea/
.vscode/
*.swp

# Archivos de la Conversación IA
HISTORIAL_CHAT_AI.txt
